<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.thorgaming.throwme"
	android:versionCode="11"
	android:versionName="1.5" android:installLocation="preferExternal"><uses-sdk android:minSdkVersion="8" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="com.android.vending.BILLING" />
	
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".ThrowMe"
			android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:screenOrientation="landscape">
			<intent-filter>
				  <action android:name="android.intent.action.MAIN" />
				  <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<service android:name=".billing.BillingService" />

		<receiver android:name=".billing.BillingReceiver">
			<intent-filter>
				<action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
				<action android:name="com.android.vending.billing.RESPONSE_CODE" />
				<action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
			</intent-filter>
		</receiver>
		
	</application>
</manifest>